<div ng-include="'app/components/navbar/navbar.html'"></div>
<div class="container">
  <form name="searchForm">
    <div class="input-group">
      <input id="search-query" type="text" class="form-control" name="search" ng-model="query" ng-pattern="/^[a-zA-Z\s]+$/" ng-change="change()" >
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-search"></span>
      </span>
    </div>
    <span ng-show="searchForm.search.$error.pattern" class="error">Incorrect input.</span>
  </form>

  <ul class="ancients">
    <li ng-repeat="ancient in ancients">
      <div>
          <p class="name">{{ancient.name}}</p>
          <p class="superpower">{{ancient.superpower}}</p>
          <p class="era">End of an era: {{ancient.end_of_an_era | date:'dd/MM/yyyy'}}</p>
      </div>
    </li>
  </ul>
  <div ng-show="empty">No results found</div>
  <p class="error">{{error}}</p>
</div>
